.top-bar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.navbar-brand {
  font-size: 22px;
  font-weight: 700;
}
.btn-search {
  right: 0;
  background: transparent;
  border: none;
  color: #000;
}
.btn-light {
  color: #212529;
  font-size: 17px;
}
.btn-light i {
  color: #9da1a7;
}
// CARD

.card .img-wrap {
  height: 240px;
}

.img-wrap {
  position: relative;
  display: block;
  padding: 1rem;
  text-align: center;
}

.card .img-wrap img {
  height: 100%;
  width: auto;
  max-width: 100%;
  object-fit: cover;
}

.card .badge {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card .title {
  display: block;
  text-decoration: none;
  color: #51585e;
}

.card .info-wrap {
  padding: 1rem 1.2rem;
}

.btn-icon {
  width: 2.5rem;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 900px) {
  .btn-light {
    font-size: 17px;
  }
  .input-group {
    display: none;
  }
}
